body {
  display: block!important;
  background: #354153;
}

#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background: #354153;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

 .loading_screen_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
 }
  .loading_gradient {
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    position: absolute;
    background: radial-gradient(circle, rgba(66,255,0,0.22) 0%, rgba(30,115,0,0) 50%, rgba(255,255,255,0) 100%);
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: 1000px;
  }


  .loading_screen_content img {
    width: 100%;
    max-width: 295px;
    min-height: 246.16px;
  }
  .percent {
    font-family: "Exo";
    color: #00FB1D;
    font-size: 46px;
    font-weight: 700;
  }


@keyframes blink {
  0% {
    opacity: 1;

  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}