.container {
  width: 184px;
  height: 100vh;
  position: fixed;
  display: flex;
  .wrapper {
    position: fixed;
    width: 184px;
    height: 184px;
    top: calc(100vh - 184px - 50px);
    left: 50px;
    max-width: 100vh;
    z-index: 9;
    @media screen and (max-width: 768px) {
      top: calc(50vh  - 20px);
    }
    @media screen and (max-width: 480px) {
      scale: 0.55;
      left: -20px;
      top: calc(50vh  - 60px);
    }
    
    .circle {
      width: 184px;
      height: 184px;
      position: absolute;
    }
    .head {
      width: 77px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      
    }
     h1 {
      width: 184px;
      height: 184px;
      scale: 0.96;
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      text-align: center;
      position: absolute;
      
    }
    
     h1 span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

  }
}

.rotor {
  border-radius: 50%;;
  width: 100%;
  height: 100%;
  svg {
    z-index: 8;
    scale: 0.95;
  }

}

